@charset "UTF-8";

/*==========================================================================

# 変数定義

========================================================================== */
/*
# フォントウェイト
==================================== */
$medium: 500;
$extrabold: 800;

/*
# カラー
==================================== */
$main-color: #FFFFFF;
$font-main: #000000;

/*
# メディアクエリ
==================================== */
/* インナー幅 */
$pc-inner: 1180px;
$sp-inner: 335px;
$tab-inner: 688px;

/*
# ブレイクポイント
==================================== */
$breakpoints: (
  //キー : 値
  "sp": "(max-width: 599px)",
  "tab": "(min-width: 600px) and (max-width: 1024px)",
  "pc": "(min-width: 1025px) and (max-width: 1399px)",
  "pc-lg": "(min-width: 1400)"
) !default;

/*
# メディアクエリ
==================================== */
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*
# z-index
==================================== */
$modal: 31;
$modal-overlay: 30;
$hamburger-icon: 23;
$hamburger-box: 22;
$hamburger-bg: 21;
$header: 20;
$mv: 10;